
/* General */
*, *::before, *::after {
    box-sizing: border-box;
}
.component {
    background-color: rgb(7, 7, 88);
    height: 200px;
}

.center {
    text-align: center;
    color: white;
    padding-top: 50px;
}